<h1> Doctors </h1>

  <ul>
      <% @doctors.each do |doctor| %>
      <li>
        Name: <%= link_to doctor.name, doctor %> Number of Appointments: <%=doctor.patients.count %>
      </l1>
        <% end %>

  </ul>
