<h1>This Doctor's Appointments:</h1>

<h2><%= @doctor.name %></h2>

<h3>List of appointments:</h3>


<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %> — <%= appointment.appointment_datetime %></li>
  <% end %>
</ul>
